/* Reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Desktop css  */
body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
}

a {
    text-decoration:none;
}

.top-nav {
    margin-top:20px;
    top:20px;
    display:flex;
    flex-direction:row;

}

.topnav-col {
    width:100%;
}

ul.s-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.s-nav li {
    display:inline-block;
}

ul.s-nav a {
    text-decoration:none;
    padding:0px 20px;
    color:#3C4043;
}

ul.l-nav {
    float:left;
    padding-inline-start:40px;
}

ul.r-nav {
    float:right;
    padding-inline-end:40px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.g-logo {
    height:30px;
    width:92px;
}

.p-pic {
    border-radius: 50%;
}

/* .search-box {
    background-color: #fff;
    box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
    border-color: rgba(223,225,229,0);
    width:690px;
    border-radius:24px;
    z-index:3;
    height:44px;
    margin: 0 auto;
} */
.search-box {
    width:100%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
}

.logo-content {
    padding-top: 6px;
    padding-inline-start:40px;
    width:fit-content;
    padding-right:30px;
}

.form-content {
    background: #fff;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    height: 39px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width:698px;
}

.s-form {
    display:flex;
    flex-direction: row;
}

.input-content {
    display:flex;
    flex-direction:row;
}

.buttons-content {
    display:flex;
    flex-direction:row;
}

.b-content {
    background: white;
    color: #4285F4;
    border: none;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.input-edit {
    flex: 1;
    display: flex;
    padding: 5px 4px 0 16px;
    padding-left: 14px;
    width:690px;
}

.input-box {
    width:100%;
    display:flex;
    flex:1;
    flex-wrap:wrap;
}

.input-buttons {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: center;
    flex-direction: row;

}

.input-buttons button {
    height:100%;
}

.input-search {
    padding: 5px 4px 0 16px;
    padding-left: 14px;
}

.close-button {
    margin-right: 12px;
    color: #70757a;
    vertical-align: middle;
}

.v-line {
    border-left: 1px solid #dfe1e5;
    height: 65%;
}

.nav-row {
    color: #70757a;
    font-size: 14px;
    font-family: Google Sans,arial,sans-serif;
    border-bottom: 1px solid #ebebeb;
    margin-top: 30px;
    position: relative;
    z-index: 126;
}

.nav-links {
    display:flex;
    flex-direction:row;
    height:-1px;
}

.link-list {
    display:flex;
    float:left;
    align-items:baseline;
    min-width:832px;
    white-space:nowrap;
}

.link-items {
    display:flex;
    margin-left:169px;
}

.link-item {
    height: 16px;
    line-height: 16px;
    margin: 11px 1px 0;
    display: inline-block;
    color: #5f6368;
    text-decoration: none;
    display: inline-block;
    padding: 17px 12px 11px 10px;
    /* padding: 0 12px;
    padding: 8px 16px 8px 16px;
    padding: 17px 12px 11px 10px;*/
}

.link-item a {
    color: #5f6368;
}

.matcon {
    font-size:14px !important;
}

.result-stat {
    margin-left:180px;
    height:40px;
}

.result-numbers {
    display: flex;
    top: 0;
    -webkit-transition: all 220ms ease-in-out;
    color: #70757a;
    justify-content: space-between;
    min-width: 652px;
    line-height: 43px;
}

.result-code {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Google Sans,arial,sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8px;
}

.result-column {
    clear: both;
    position: relative;
    margin-left: 180px;
    width: 652px;
}

.result-items {
    /* height:fit-content; */
    transition: height 300ms ease-in-out 0s;
    padding-top:20px;
}

.result-link a {
    color:#70757A;
}

.result-header {
    font-weight: normal;
    font-size: small;
    line-height: 1.58;
}

.result-title h2 {
    font-size: 20px;
    line-height: 1.3;
}
.recommend-result {
    padding: 20px;
    border:1px solid #DADCE0;
    border-radius: 6px;
    margin-top:15px;
}
.recommend-content {
    display:flex;
}

.recommend-result li {
    padding-top:10px;
    padding-right:10px
}

.dropdown {
    position: relative;
    /* display: inline-block; */
    padding:10px 0px;
    height:fit-content;
    border-top: 1px solid #b1aeae;
  }

  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    font-size:14px;
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-content p {
      font-size:15px;
      color:rgba(0,0,0,.87);
  }

  .dropdown:active .dropdown-content {
    display: block;
  }
  .dropdown-title {
      font-size:16px;
      color:rgba(0,0,0,.87);
  }
/* .nav-links {
    background: #fff;
    height: 58px;
    padding: 0;
    position: relative;
    z-index: 126;
    white-space: nowrap;
}

.link-list {
    position: relative;
    white-space: nowrap;
    align-items: baseline;
    display: flex;
    -ms-flex-pack: justify;
    float: left;
    justify-content: space-between;
    min-width: 832px;
}

.link-items {
    display: inline;
    margin-left: 169px;
}

.link-list {
    margin-left:169px;
}

.link-list li {
    display:inline-block
} */